In [39]:
import pandas as pd
dataset = pd.read_csv("wine.csv")

In [40]:
dataset.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [41]:
dataset['style'] = dataset['style'].replace('red', 0)

In [42]:
dataset['style'] = dataset['style'].replace('white', 1)

In [43]:
dataset.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

In [44]:
#Y é meu target e variavel X é meu preditor
y = dataset['style']
x = dataset.drop('style', axis = 1)

In [46]:
#Utilizando o modelo de seleção para desocbir qual vinho é tinto e qual não é
from sklearn.model_selection import train_test_split

#Criando meu conjunto de treino e teste
x_training, x_test, y_training, y_test = train_test_split(x, y, test_size = 0.3)
#nessa parte a própria biblioteca faz o treino com os dados.

In [48]:
#ExtraTreesClassifier = árvore de decisão
from sklearn.ensemble import ExtraTreesClassifier

#criando meu modelo
model = ExtraTreesClassifier()
#aplicando a árvore de decisão nos meus dados de treino com o comando fit
model.fit(x_training, y_training)

#Após o treino vou exibir os dados para garantir que a classificação funcinou funcionou
result = model.score(x_test, y_test)
print(result)

0.9948717948717949